* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-family: "Tenor Sans", sans-serif;
  background-color: #222;
  opacity: 0.9;
}
::-webkit-scrollbar {
  background-color: #222;
}
::-webkit-scrollbar-thumb {
  background-color: #a13913;
}

/*header start*/
header {
  width: 100%;
}
.background-elips {
  z-index: -10;
  background-image: url(index-img/Ellipse\ 29.svg);
  right: 0;
  top: 0;
  position: absolute;
  width: 755.464px;
  height: 863.82px;
  background-repeat: no-repeat;
}
.background-elips-two {
  z-index: -10;
  right: 0;
  top: 0;
  position: absolute;
  width: 859.464px;
  height: 863.82px;
  background-repeat: no-repeat;
  background-image: url(index-img/Ellipse\ 31.svg);
}
.header__block-flex {
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.header__menu-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.header__menu-link {
  color: #f1f1f1;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
  text-decoration: none;
}
.header__menu-link:hover {
  color: #ff4c0d;
}
.header__btn {
  cursor: pointer;
  padding: 15px 35px;
  border-radius: 65px;
  background-color: #f1f1f1;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #151515;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}
.header__btn:active {
  color: #c9c9c9;
}
/*header end*/

/*welcome start*/
.welcome {
  padding: 30px 170px;
  width: 100%;
}

.welcome__text-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.welcome__h {
  color: #f1f1f1;
  font-size: 80px;
  font-weight: 600;
  line-height: 100%;
}
.welcome__p {
  color: #ff4c0d;
  font-size: 30px;
  font-weight: 600;
  line-height: 120%;
}
.welcome__butons {
  width: 248px;
  height: 54px;
  border-radius: 108px;
  border: 3px solid var(--f-1-f-1-f-1, #f1f1f1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.welcome__btn {
  cursor: pointer;
  display: flex;
  padding: 15px 35px;
  background-color: transparent;
  border: none;
  color: var(--f-1-f-1-f-1, #f1f1f1);
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}
.active-btn {
  display: flex;
  padding: 15px 35px;
  border-radius: 65px;
  background: var(--f-1-f-1-f-1, #f1f1f1);
  color: var(--151515, #151515);
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  border: none;
}
/*welcome end*/

/*photo start*/
.photo {
  margin-top: 20px;
  padding: 30px 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.photo__h {
  color: var(--f-1-f-1-f-1, #F1F1F1);
font-size: 45px;
font-weight: 500;
line-height: 110%;

}
.photo__flex-buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}
.photo__text {
  cursor: pointer;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10px;
  background-color: transparent;
border: none;
}
.photo__text-h {
  color: var(--f-1-f-1-f-1, #9b9b9b);
font-size: 20px;
font-weight: 600;
line-height: 120%;
}
.photo__text-active-h {
  color: var(--f-1-f-1-f-1, #F1F1F1);

}
.line {
  width: 100%;
  background: var(--f-1-f-1-f-1, #9b9b9b);
  height: 3px;
align-self: stretch;
}
.photo__text-active-line {
  background: var(--ff-4-c-0-d, #FF4C0D);
}
.photo__text-p {
  color: var(--f-1-f-1-f-1, #9b9b9b);
font-size: 14px;
font-weight: 400;
line-height: 150%;
letter-spacing: -0.14px;
}
.photo__text-active-p {
  color: var(--f-1-f-1-f-1, #F1F1F1);
}
.photo__block {
  margin:  0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.photo__two, .photo__three {
  display: none;
}

/*photo end*/


/*background start*/
.path {
  right: 0;
  margin-top: -341px;
  z-index: -10;
  position: absolute;
}

.background {
  position: relative;
  margin: 80px 0px;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-image: url("/index-img/image\ 205.png");
}
.background__text {
  top: 30%;
  left: 12%;
  position: absolute;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.logo {
  width: 60px;
}
.background__h {
  margin-top: 30px;
  color: var(--f-1-f-1-f-1, #f1f1f1);
  font-size: 45px;
  font-weight: 500;
  line-height: 110%;
}
.background__p {
  color: var(--f-1-f-1-f-1, #f1f1f1);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
}
/*background end*/

/*design start*/
.design {
  margin: 80px 0px;
  padding: 0px 170px;
}
.elips-three {
  position: absolute;
  margin-top: -80px;
  right: 0;
}
.design__h {
  color: var(--ff-4-c-0-d, #ff4c0d);
  font-size: 45px;
  font-weight: 500;
  line-height: 110%;
  margin-bottom: 60px;
}
.design__block-flex {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.design__block {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.design__img-block {
  position: relative;
  border-radius: 15px;
}
.design__img-block-shadow {
  position: absolute;
  border-radius: 15px;
  margin-bottom: -300px;
}
.design__text {
  position: absolute;
  left: 40px;
  bottom: 40px;
  display: flex;
  width: 440px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.design__par {
  color: var(--f-1-f-1-f-1, #f1f1f1);
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
}
.disign__p {
  color: var(--f-1-f-1-f-1, #f1f1f1);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
}
/*design end*/
/*safety start*/

.safety__text {
  margin-top: -23px;
}

/*safety end*/
.element-safety__block {
  margin-top: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.element-block__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.design__h {
  color: var(--ff-4-c-0-d, #ff4c0d);
  font-size: 45px;
  font-weight: 500;
  line-height: 110%;
}
.element-block__p {
  width: 358px;
  color: var(--f-1-f-1-f-1, #f1f1f1);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
}
.text__flex-block {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
/*safety end*/

.background-brand {
  margin-left: -50px;
  background-image: url("index-img/image\ 206.png");
}
/*reviews start*/
.reviews {
  margin: 40px 0px;
}
.reviews__h {
  margin-left: 170px;
}
.reviews__block-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.block__review {
  width: 460px;
  height: 294px;
  border-radius: 15px;
  background: var(--151515, #151515);
  padding: 20px;
}
.review__h {
  color: var(--f-1-f-1-f-1, #f1f1f1);
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
}
.line-small {
  display: block;
  width: 100px;
  height: 3px;
  color: #ff4c0d;
}
.review__p {
  color: var(--f-1-f-1-f-1, #f1f1f1);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
}
.button-block-flex {
  padding: 0px 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.review__btn {
  cursor: pointer;
  display: inline-flex;
  padding: 15px 35px;
  align-items: flex-start;
  border-radius: 65px;
  background-color: #f1f1f1;
  color: var(--151515, #151515);
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}
.btn-block-flex {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.left {
  padding: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  color: #151515;
  background-color: #f1f1f1;
}
.right {
  padding: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  color: #151515;
  background-color: #ff4c0d;
}

.block-modal-window {
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex {
  position: absolute;
  width: 350px;
  height: 250px;
  background-color: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.klose {
  background-color: transparent;
  color: #f1f1f1;
}
.input {
  width: 200px;
  height: 50px;
  background-color: #9b9b9b;
}
.send {
  background-color: #9b9b9b;
  color: #151515;
}
/*reviews end*/
